<footer>
	<div class="footer-left">
		<a href="https://github.com/gamadjg">
			<img class="github-logo" src="/assets/GitHub-Mark-32px.png" />
		</a>
		<a class="linkedin-logo" href="https://www.linkedin.com/in/gamadavid/">
			<img src="/assets/linkedin-32.ico" />
		</a>
	</div>
</footer>
