<nav>
	<img />
	<a href="/">Home</a>
	<br />
	<label class="nav-labels">The Basics</label>
	<a href="/how-to-play">How to Play</a>
	<a href="/rules">Rules and Symbols</a>
	<a href="/player-roles">Player Roles</a>
	<a href="/cards/characters">Characters</a>

	<br />
	<label class="nav-labels">The Gist</label>
	<a href="/cards/regular">The Vanilla</a>
	<a href="/cards/equipables">Equipables</a>
	<a href="/cards/traps">Traps</a>

	<br />
	<label class="nav-labels">Create Your Own!</label>
	<a href="/card-creation">Create a Card</a>
</nav>
