<nav>
	<img />
	<a href="/">Home</a>
	<br />
	<label class="nav-labels">The Basics</label>
	<a href="/how-to-play">How to Play</a>
	<a href="/rules">Rules and Symbols</a>
	<a href="/player-roles">Player Roles</a>
	<br />
	<label class="nav-labels">Cards</label>
	<a href="/cards/all">All</a>
	<a href="/cards/characters">Characters</a>
	<a href="/cards/regular">Regular</a>
	<a href="/cards/equipables">Equipment</a>

	<br />
	<label class="nav-labels">Create Your Own!</label>
	<a href="/card-creation">Create a Card</a>
</nav>
