<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs") %>
	<body>
		<div class="body-container">
			<div class="side-nav"><%- include("./partials/side-nav.ejs") %></div>
			<div class="content">
				<%- include("./partials/body-head.ejs") %>
				<form class="card-creation-form" method="POST" action="/cards">
					<div class="card-labels-container">
						<label for="card-type-input">Type</label>
						<label for="card-name-input">Name</label>
						<label for="card-description-input">Description</label>
					</div>
					<div class="card-inputs-container">
						<select class="card-inputs" id="card-type-input" name="card_type">
							<option value="regular">Regular</option>
							<option value="equipment">Equipment</option>
							<option value="character">Character</option>
							<option value="role">Role</option>
						</select>
						<input
							type="text"
							class="card-inputs"
							id="card-name-input"
							name="card_name"
							required
						/>
						<textarea
							class="card-inputs"
							id="card-description-input"
							name="card_description"
							required
						></textarea>

						<input id="card-submit-input" type="submit" />
					</div>
				</form>
			</div>
		</div>
		<div class="footer"><%- include('./partials/footer.ejs')%></div>
	</body>
</html>
