<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs") %>
	<body>
		<div class="body-container">
			<div class="side-nav"><%- include("./partials/side-nav.ejs") %></div>
			<div class="content"><%- include("./partials/body-head.ejs") %></div>
		</div>
		<div class="footer"><%- include('./partials/footer.ejs')%></div>
	</body>
</html>
