@font-face {
	font-family: "GunfighterAcademy";
	src: url(../fonts/GunfighterAcademy-Regular.ttf);
}

body {
	margin: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: Roboto, sans-serif;
	min-height: 100vh;
	background-image: url("../assets/game-background.jpg");
}

.body-container {
	display: flex;
	width: 100%;
}

p {
	margin: 10px 0px 10px 0px;
}

.side-nav {
	flex: auto;
}

.content {
	flex: auto;
}

nav {
	display: flex;
	flex-direction: column;
}

.bang-logo {
	width: 50%;
	flex: auto;
	margin: 10px 0px 10px 0px;
	align-self: center;
}

nav > a {
	margin: 0 0 0 20px;
	font-family: Roboto, sans-serif;
}

a,
a:visited,
a:active {
	color: inherit;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

.nav-labels {
	font-weight: bold;
	font-size: 16px;
	margin: 0 0 0 10px;
	font-family: "GunfighterAcademy", Roboto, sans-serif;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 20px;
}

.instructions-container {
	width: 90%;
	align-items: flex-start;
}

.card-creation-form {
	display: flex;
}

.card-creation-form > * {
	display: flex;
	flex-direction: column;
}

.card-labels-container > * {
	margin: 0px 10px 0px 10px;
	width: auto;
}

.card-inputs-container {
	max-width: 20%;
	min-width: 20%;
}

.card-inputs-container > * {
	min-width: 20%;
	max-width: auto;
	margin: 0px 5px;
}

#card-description-input {
	max-width: 200%;
}

.cards-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: auto;
	align-content: start;
	justify-content: start;
	gap: 20px;
}

.cards-list > * {
	flex: 0 0 auto;
}

.card-header {
	display: flex;
	flex-direction: row;
}

.card-name {
	margin: 0px;
}

.card-container {
	max-width: 250px;
}

.card-info {
	max-width: 250px;
	padding: 0px 10px 0px 20px;
}

footer {
	display: flex;
	justify-content: space-between;
}

.footer-left {
	display: flex;
	align-items: center;
	gap: 10px;
}
